.grid-container{
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    border: 1px solid black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
}

.X {
    color: red;
}

.O {
    color: blue;
}